@charset "utf-8";
body {
    background-color: lightblue;
	}

h1 {
    color: navy;
    margin-left: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	table-layout:auto;
   width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
    width: 50%;
}


div.errorMsg {color: red}
.errors{color: red}
.invalidElem {
 font-family: times,sans-serif;
 font-size: 80%;
 font-weight: normal;
 text-decoration: underline;
background-color: pink;
color: red;
}

 /* Dropdown Button */
.dropbtn {
    background-color: navy;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

input {
	height: 20px;
	margin: 5px;
	width:400px;
}
.addbutton {
	text-align: center;
	vertical-align:middle;
	font-size: 13px;
	width: 283px;
	border: 1px solid #70A9FD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	margin: 2px 0 0 110px;
	color: #326DC5;
	padding: 4px;
	background-color:#BED6FF;
}

.deletebutton {
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(delete.png) repeat;
	background-position: center left;
	background-repeat: no-repeat;
	position:absolute;
	top: 30px;
	left: 320px;
}

.add {
	position:relative;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px; 
  color: #F3CD26;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
caption:before, caption:after {
  content: "\274B";
  color: #A9E2CC;
  margin: 0 10px;
}
/* For marking text in menus*/
   .colortext {
    background-color: lightblue; /* Цвет фона */
    color: black; /* Цвет текста */
	 
	border: 1px solid #aaa;
	font-weight: bold;
	text-align: center;
	padding: 3px;
   }
  